<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SummerSchoolExcelParserDeux.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <SummerSchoolExcelParserDeux.Properties.Settings>
            <setting name="VALUES" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>med:1</string>
                        <string>high:3</string>
                        <string>positive:1</string>
                        <string>awesome:3</string>
                        <string>negative:-1</string>
                        <string>dreadful:-3</string>
                        <string>good:1</string>
                        <string>plusgood:2</string>
                        <string>doubleplusgood:3</string>
                        <string>ungood:-1</string>
                        <string>plusungood:-2</string>
                        <string>doubleplusungood:-3</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SummerSchoolExcelParserDeux.Properties.Settings>
    </applicationSettings>
</configuration>